/* ===========================
   RECONECTA
   =========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#ffd6e7,#f1e3ff,#dff6ff);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.container,
.perfil,
.zorrito,
.habitos,
.tienda,
.progreso,
.creditos{
    width:100%;
    max-width:450px;
    background:#ffffff;
    border-radius:35px;
    padding:35px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
}

/* LOGO */

.logo{
    width:120px;
    height:120px;
    border-radius:50%;
    background:#ffd2e6;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    font-size:60px;
    margin-bottom:20px;
}

/* TITULOS */

h1{
    color:#ff5fa2;
    font-size:55px;
    margin-bottom:10px;
}

h2{
    color:#9c6ade;
    font-size:30px;
    margin-bottom:20px;
}

h3{
    color:#666;
    margin-top:35px;
    margin-bottom:10px;
}

/* TEXTO */

.descripcion{
    color:#555;
    line-height:1.8;
    font-size:18px;
    margin-bottom:30px;
}

/* BOTON */

button{
    width:100%;
    padding:18px;
    border:none;
    border-radius:40px;
    background:#8ddf84;
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#6dcf61;
    transform:scale(1.03);
}

/* CREDITOS */

.creditos{
    margin-top:35px;
    font-size:15px;
    color:#666;
    line-height:1.8;
}

.colegio{
    margin-top:15px;
    font-weight:bold;
}

.eureka{
    color:#ff5fa2;
    font-weight:bold;
    margin-top:10px;
}

/* RESPONSIVE */

@media(max-width:600px){

body{
padding:15px;
}

.container,
.perfil,
.zorrito,
.habitos,
.tienda,
.progreso,
.creditos{
padding:25px;
}

.logo{
width:100px;
height:100px;
font-size:50px;
}

h1{
font-size:46px;
}

h2{
font-size:25px;
}

.descripcion{
font-size:17px;
}

button{
font-size:22px;
padding:20px;
}

}
