* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffd6e7, #e8dcff, #d9f4ff);
}

.container {
    width: 90%;
    max-width: 380px;
    background: #ffffff;
    padding: 35px 25px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(255, 150, 190, 0.25);
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background: #ffb6d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

h1 {
    color: #d85b9b;
    font-size: 35px;
    margin-bottom: 15px;
}

h2 {
    color: #6b4f8a;
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    color: #777;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 25px;
}

button {
    background: #9edb8f;
    color: white;
    border: none;
    padding: 13px 45px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(120, 190, 100, 0.3);
}

button:hover {
    background: #84ca75;
}

.corazon {
    color: #ff8fc7;
    font-size: 30px;
    margin-top: 20px;
}
body {
    background: pink;
}
